.container {
    position: relative;
    padding: 24px 0;
    overflow: hidden;
}

.content {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 80px auto 0;
    padding: 0 24px;
}

.subjects {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
    max-width: 450px;
}

@media (max-width: 750px) {
    .content {
        gap: 40px;
    }
}

@media (max-width: 650px) {
    .content {
        flex-direction: column;
    }

    .subjects {
        width: 100%;
        margin: 0 auto;
    }
}
