.container {
    position: relative;
    padding: 24px 0;
    overflow: hidden;
}

.content {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 80px auto 0;
    padding: 0 24px;
}

.subjects {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
    max-width: 450px;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 40px auto 0;
}

.feedback img {
    width: 24px;
    height: 24px;
    animation: spin 1.5s linear infinite;
}

.feedback p {
    font-size: 14px;
    font-weight: 500;
    color: #BACAE3;
}

.feedback button {
    padding: 4px 8px;
    border: 1px solid #BACAE3;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #BACAE3;
    transition-property: border-color, color;
    transition-duration: 0.3s;
}

.feedback button:hover {
    border-color: #F2F2F2;
    color: #F2F2F2;
}

@media (max-width: 750px) {
    .content {
        gap: 40px;
    }
}

@media (max-width: 650px) {
    .content {
        flex-direction: column;
    }

    .subjects {
        width: 100%;
        margin: 0 auto;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
